.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.squish {
    justify-content: space-around;
}
.spread {
    justify-content: space-between;
}
.grow {
    flex-grow: 1;
}
.shrink {
    flex-shrink: 1;
}
.small {
    font-size: small;
}
.x-small {
    font-size: x-small;
}
.xx-small {
    font-size: xx-small;
}
.large {
    font-size: large;
}
.x-large {
    font-size: x-large;
}
.xx-large {
    font-size: xx-large;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.examples {
    border: groove 3px black;
}
.code-section {
    margin :3px;
//    flex-shrink: 1;
}
code {
    padding: 3px;
    border: double 4px #232220;
    font-size: large;
}
code.example {
    display: inline-block;
}
.code {
    font-family: monospace;
    padding: 3px;
}
body {
    background-color: #fcf2df;
}
header {
//    background-color: peru;
}
section {
    background-color: #f7cbab;
    border: groove 3px #678513;
    margin: 5px;
    padding: 5px;
}
.hide {
    display: none;
}
.box {
    border: solid 3px red;
}
div.box {
    padding: 3px;
}
.callout {
    color: blue;
    font-weight: bold;
}
.explain {
    margin: 13px 5px;
    padding: 3px;
    border: solid 1px green;
    background: #f0fff7;
}
.describe {
    display: inline-block;
    margin: 13px 5px;
    padding: 5px 3px;
    border: solid 1px lightgreen;
    background: #f0f7ff;
}
i,
b {
    white-space: nowrap;
}
